#pageBody {
    font-family:Courier;
    color: #112233; 
}

#doiList {
	position: relative;
	top: 2em;
}

.legend {
    font-size: 120%
}

.value {
	text-align: right;
}
#langNav {
    float: right;
    font-size: 70%
}


#signInBox {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

